@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Body */
body {
  background: linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96A6BF, #63738C);
  box-shadow: inset 0 0 1px 1px #5C6670;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3)
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391A6, #536175);
}

/* Navbar */
.nav-link {
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
}

@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }

  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}

.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}

.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}

.navbar-scrolled {
  background-color: #fff;
}

@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}

/* Content */
.home-banner {
  background-image: url('images/background.jpg');
  background-size: cover;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.profile-img {
  width: 100%;
  max-width: 200px;
}

.panel-box {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

.transparent-box {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 3rem;
  text-align: center;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.transparent-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-img-left {
  height: 100%;
  object-fit: cover;
}

.card{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  box-shadow: 0 0 3px rgba(0,0,0,.08), 0 0 3px rgba(0,0,0,.05);
}

.card-hoverable {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card-hoverable:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-margin {
  margin: 15px;
}

.resume-dl-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: .4s;
}

.resume-dl-btn:hover {
  box-shadow: 0px 0px 10px #fff;
}